@{
    ViewBag.Title = "Home Page";
}
<h1>My Games Store</h1>
<p>This Website include all the functions required to edit, delete or update any information on new games.<br/>
    This website is related to gaming consoles and their information is given in Games Store</p>